<h1>Fáza 1 - prieskumná analýza

<h2>Základný opis dát spolu s ich charakteristikami
<h3>Uloha 1:

In [4]:
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

stations = []
measurements = []


lenght_cf = 0
lenght_df = 0

for i in range(120):
    
    if i < 10:
        filename = "data/" + "00"+ str(i) + '/'
    elif  i < 100:
        filename = "data/" + "0"+ str(i) + '/'
    else:
        filename = "data/" + str(i) + '/'
        
    cf = pd.read_csv(filename+ "measurements.csv",sep ='\t')
    measurements.append(cf)
    df = pd.read_csv(filename+ "stations.csv",sep ='\t')
    stations.append(df)
   
    #print(cf.shape)
    #print(df.shape)
    #lenght_cf = lenght_cf + len(cf)
    #lenght_df = lenght_df + len(df)
    

merged_cf = pd.concat(measurements)
merged_df = pd.concat(stations)

print("Measurements: ",merged_cf.shape)

merged_cf.info()
    
print("\nStations: ",merged_df.shape)

merged_df.info()

Measurements:  (1453551, 18)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1453551 entries, 0 to 12089
Data columns (total 18 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   longitude  1453551 non-null  float64
 1   CO         1447689 non-null  float64
 2   PAHs       1447703 non-null  float64
 3   TEMP       1447707 non-null  float64
 4   PM2.5      1447704 non-null  float64
 5   SO2        1447694 non-null  float64
 6   latitude   1453551 non-null  float64
 7   PRES       1453551 non-null  float64
 8   H2CO       1447688 non-null  float64
 9   Pb         1447695 non-null  float64
 10  PM10       1447707 non-null  float64
 11  O3         1447717 non-null  float64
 12  CH4        1447699 non-null  float64
 13  warning    1447708 non-null  float64
 14  C2H3NO5    1447716 non-null  float64
 15  CFCs       1447708 non-null  float64
 16  NH3        1447704 non-null  float64
 17  NOx        1447701 non-null  float64
dtypes: float64(18)
memory usage: 210.7 MB

Stations:  (127928, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 127928 entries, 0 to 1088
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   longitude  127928 non-null  float64
 1   station    81218 non-null   object
 2   QoS        127928 non-null  object
 3   code       91529 non-null   object
 4   latitude   127928 non-null  float64
 5   revision   127928 non-null  object
 6   location   83013 non-null   object
dtypes: float64(2), object(5)
memory usage: 7.8+ MB

<h3>Uloha 2:

In [5]:
merged_cf[merged_cf.warning == 1].describe()
merged_cf[merged_cf.warning == 0].describe()

,longitude,CO,PAHs,TEMP,PM2.5,SO2,latitude,PRES,H2CO,Pb,PM10,O3,CH4,warning,C2H3NO5,CFCs,NH3,NOx
count,586277.000000,583865.000000,583890.000000,583879.000000,583884.000000,583852.000000,586277.000000,586277.000000,583914.000000,583961.000000,583931.000000,583863.000000,583882.000000,586277.0,583931.000000,583943.000000,583825.000000,583957.000000
mean,10.954927,7.762613,7.738005,15.002709,7.883650,7.848137,28.875507,1125.037098,49.613693,50.010956,7.844276,7.813341,7.850115,0.0,2.387726,54.751175,7.794842,7.861642
std,73.443686,1.808904,1.804973,10.004815,1.769491,1.759462,23.029754,43.307282,13.179690,13.214633,1.787293,1.762594,1.801091,0.0,4.128548,14.748372,1.740305,1.778851
min,-156.474320,0.000000,0.000000,-34.456850,0.000000,0.000000,-54.800000,1050.000570,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,-60.931730,6.553230,6.546812,8.246670,6.695877,6.677417,14.677510,1087.494370,40.736050,41.134710,6.678100,6.645670,6.658663,0.0,0.187670,44.311925,6.638810,6.666750
50%,9.558600,7.775650,7.746680,15.017230,7.830645,7.851100,36.025060,1125.159720,49.608240,50.036440,7.838290,7.793670,7.832205,0.0,0.900710,54.840130,7.788820,7.862220
75%,72.545660,8.974600,8.928255,21.753470,9.013730,9.026743,45.448680,1162.491380,58.488000,58.898540,9.002560,8.952115,9.017640,0.0,3.104880,65.777470,8.946760,9.054140
max,178.004170,17.877720,17.159050,73.046240,16.762600,16.664540,68.798330,1199.999940,100.000000,100.000000,17.763490,17.158380,17.624820,0.0,100.000000,100.000000,16.898460,17.840410

In [ ]:
sns.pairplot(measurements[0], hue="PM2.5")